<%- include("header") -%>

<h2>this is about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia natus aliquid tempora, vel est distinctio quis dolorum, debitis corrupti delectus voluptate ullam dolore laboriosam quod. Quaerat rem aperiam voluptatem maxime.</p>


<%- include("footer") -%>